section {
  border: 2px solid #b1b0b0;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  text-align: left;
  display: inline-block;
  width: fit-content;
}

.item {
  color: rgb(255, 208, 0);
}

section h1 {
  color: rgb(0, 255, 106);
  font-size: 28px;
}

/* Responsive design */
@media (max-width: 600px) {
  .textbox-container {
    margin: 10px;
    padding: 15px;
    max-width: 100%;
  }

  .textbox-title {
    font-size: 20px;
  }
}
